.footer-container {
    margin-top: 200px;
    background-color: rgb(65, 29, 47);
    width: auto;
    height: 250px;
}

.footer-info {
    padding-top: 125px;
}

.footer-link-icon a {
    margin-left: 20px;

}